<%= flash_message %>
<p>
<h1> Cadastrar Bolsas - <%= @bolsa.bolsista.nome %> </h1>
</p> <%= form_for @bolsa do |f| %>
   <%= render partial: "form", locals: {f: f} %>
   <%= f.submit "Cadastrar" %>
 <b><%= link_to 'Voltar', action: 'show', controller: 'bolsistas',  id: @bolsa.bolsista %></b>
   
   <%= f.hidden_field :bolsista_id %>
<% end %>
