<p><center> <b><font style="font-size:30pt; color:LimeGreen; line-height:30pt; type=ArialBlack"> Anexo de Documentos: </font></b></center></p> 

<%= flash_message %>

<%= form_for [@bolsista, @anexo], html: { multipart: true } do |f| %> 
  <%= render partial: "form", locals: {f: f} %>  
  <center> <%= f.submit "Cadastrar", :class => 'btn btn-success'%>
  <b>
  <%= link_to 'Voltar', bolsista_url(@bolsista),:class => 'btn' %></b></center>
<% end %>

